<div class="container-fluid align-items-center">
  <div class="row mt-3">
    <div class="col d-flex justify-content-between">
      <button class="btn btn-primary" (click)="deleteSalvataggi()">Cancella Salvataggi</button>
      <button class="btn btn-primary" (click)="goBack()">Torna al Campo</button>
    </div>
  </div>
  
  <div class="row mt-5 justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12" *ngIf="savedDataList">
      <ng-container *ngFor="let savedData of savedDataList">
        <h4 class="mb-3">Giocatori Posizionati:</h4>
        <div class="pitch-container mx-auto">
          <img src="../../../assets/img/base_lavagna.png" alt="Campo da calcio" class="pitch">
          <div class="player" *ngFor="let player of savedData.giocatoriPosizionatiList; let i = index" 
               [ngStyle]="{'top.%': (player.y + 5), 'left.%': player.x, 'background-color': savedData.colore}" 
               draggable="false">
            <div class="player-circle">{{ player.calciatore.nomeCompleto || player.calciatore.ruolo }}</div>
          </div>
        </div>
        <h4 class="my-3">Note Tattiche:</h4>
        <p>{{ savedData.noteTattiche }}</p>
        <button class="btn btn-primary" (click)="deleteSalvataggio(savedData.id)">Cancella Salvataggio</button>
      </ng-container>
    </div>
  </div>
</div>
