.container-fluid {
  padding: 0 20px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.pitch-container {
  position: relative;
  width: 100%;
  max-width: 1500px; /* Aumenta la larghezza massima del campo */
  height: auto; /* Mantieni l'aspetto proporzionale */
  margin: 0 auto;
  overflow: hidden;
}

.pitch {
  width: 100%;
  height: auto; /* Assicura che l'immagine del campo si adatti proporzionalmente */
  border-radius: 15px;
  font-family: "Wix Madefor Text", sans-serif;
  font-weight: 400;
  font-style: bolder;
}

.player {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  font-family: "Wix Madefor Text", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.player-circle {
  width: 30px; /* Riduce le dimensioni dei cerchi dei giocatori */
  height: 30px;
  line-height: 30px; /* Centra il testo verticalmente */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
  font-family: "Wix Madefor Text", sans-serif;
  font-size: 12px; /* Riduce la dimensione del font */
}

.button-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn {
  display: inline-block;
  margin-bottom: 10px;
  background-color: #e09e05;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 0.875rem;
}

.action_has {
  --color: 0 0% 60%;
  --color-has: 211deg 100% 48%;
  --sz: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--sz) * 2.5);
  width: calc(var(--sz) * 2.5);
  padding: 0.4rem 0.5rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid hsl(var(--color));
  background-color: #e09e05;
}

.has_saved:hover {
  border-color: hsl(var(--color-has));
}

.has_saved:hover path[data-path="box"] {
  transition: all 0.3s var(--ease);
  animation: has-saved var(--duration) var(--ease) forwards;
  fill: hsl(var(--color-has) / 0.35);
}

.has_saved:hover path[data-path="line-top"] {
  animation: has-saved-line-top var(--duration) var(--ease) forwards;
}

.has_saved:hover path[data-path="line-bottom"] {
  animation: has-saved-line-bottom var(--duration) var(--ease) forwards, has-saved-line-bottom-2 calc(var(--duration) * 1) var(--ease) calc(var(--duration) * 0.75);
}

@keyframes has-saved-line-top {
  33.333% {
      transform: rotate(0deg) translate(1px, 2px) scale(var(--zoom-from));
      d: path("M 3 5 L 3 8 L 3 8");
  }

  66.666% {
      transform: rotate(20deg) translate(2px, -2px) scale(var(--zoom-via));
  }

  99.999% {
      transform: rotate(0deg) translate(0px, 0px) scale(var(--zoom-to));
  }
}

@keyframes has-saved-line-bottom {
  33.333% {
      transform: rotate(0deg) translate(1px, 2px) scale(var(--zoom-from));
      d: path("M 17 20 L 17 13 L 7 13 L 7 20");
  }

  66.666% {
      transform: rotate(20deg) translate(2px, -2px) scale(var(--zoom-via));
  }

  99.999% {
      transform: rotate(0deg) translate(0px, 0px) scale(var(--zoom-to));
      d: path("M 17 21 L 17 21 L 7 21 L 7 21");
  }
}

@keyframes has-saved-line-bottom-2 {
  from {
      d: path("M 17 21 L 17 21 L 7 21 L 7 21");
  }

  to {
      transform: rotate(0deg) translate(0px, 0px) scale(var(--zoom-to));
      d: path("M 17 20 L 17 13 L 7 13 L 7 20");
      fill: white;
  }
}

@keyframes has-saved {
  33.333% {
      transform: rotate(0deg) translate(1px, 2px) scale(var(--zoom-from));
  }

  66.666% {
      transform: rotate(20deg) translate(2px, -2px) scale(var(--zoom-via));
  }

  99.999% {
      transform: rotate(0deg) translate(0px, 0px) scale(var(--zoom-to));
  }
}
