<div class="container d-flex justify-content-center align-content-center my-5">
  <div *ngIf="savedDataList">
    <ng-container *ngFor="let savedData of savedDataList">
      <h4 class="mb-3">Giocatori Posizionati:</h4>
      <div class="mt-2 col-lg-6 col-md-12 col-sm-12">
        <div class="pitch-container mx-auto">
          <img src="../../../assets/img/base_lavagna.png" alt="Campo da calcio" class="pitch">
          <div class="player" *ngFor="let player of savedData.giocatoriPosizionatiList; let i = index" [ngStyle]="{'top.%': player.y, 'left.%': player.x, 'background-color': savedData.colore}" draggable="false">
            <div class="player-circle">{{ player.calciatore.nomeCompleto || player.calciatore.ruolo }}</div>
          </div>
        </div>
      </div>

    <h4 class="my-3">Note Tattiche:</h4>
    <p>{{ savedData.noteTattiche }}</p>

    <button class="btn btn-primary me-2" (click)="clearSavedData()">Cancella Salvataggio</button>
    <button class="btn btn-primary" (click)="goBack()">Torna al Campo</button>
    </ng-container>
    
  </div>

  <div *ngIf="!savedDataList">
    <p>Nessun dato salvato trovato.</p>
    <button class="btn btn-primary" (click)="goBack()">Torna al Campo</button>
  </div>
</div>