body {
  background-color: #E5E5E5;
}

.pitch-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}

.pitch {
  width: 100%;
  border-radius: 15px;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.player {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.player-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: medium;
  font-family: "Monoton", sans-serif;
}

.form-select {
  width: auto;
  display: inline-block;
}

button.btn {
  display: inline-block;
  margin-left: 20px;
  background-color: #E09E05;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 0.875rem;
}

.bookmarkBtn {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
}

.IconContainer {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, rgb(255, 171, 14), rgb(255, 70, 70));
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1.04em;
}

#playerName {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bookmarkBtn:hover .IconContainer {
  width: 90px;
  transition-duration: 0.3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}

select, textarea, input{
  background-color: #e5e5e5e0;
}

.Btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #FCA311;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.Btn:hover {
  background-color: #E09E05;
  transition-duration: 0.3s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.svgIcon {
  fill: #14213D;
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid #14213D;
  border-left: 2px solid #14213D;
  border-right: 2px solid #14213D;
}

.tooltip {
  position: absolute;
  right: -105px;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  transform: rotate(45deg);
  left: -5%;
  transition-duration: 0.3s;
}

.Btn:hover .tooltip {
  opacity: 1;
  transition-duration: 0.3s;
}

.Btn.saved {
  background-color: #28a745 !important; /* Green background */
}

.Btn.saved .tooltip {
  background-color: #28a745 !important; /* Green background */
  color: #fff !important; /* White text */
}

.Btn.saved .tooltip::before {
  background-color: #28a745 !important; /* Green background */
}

/* Responsive styles */
@media (max-width: 820px) {
  .config-section {
      flex-direction: column;
      align-items: flex-start;
  }

  .config-section > div {
      width: 100%;
      margin-bottom: 10px;
  }

  .button-section {
      flex-direction: column;
      align-items: center;
  }

  .button-section .btn {
      width: auto;
      margin-bottom: 10px;
  }

  .form-select, .btn {
      width: 100%;
  }
}

@media (max-width: 576px) {
  .pitch-container {
      max-width: 400px;
  }

  .player-circle {
      width: 35px;
      height: 35px;
      font-size: 0.7em;
  }

  .form-select, .btn {
      width: 100%;
  }
}