<div class="container-fluid text-center my-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="config-section d-flex flex-wrap justify-content-between align-items-center mt-4 mb-3 mx-5">
        <div class="mb-2">
          <label for="colorSelect" class="form-label">Scegli il colore:</label>&nbsp;&nbsp;&nbsp;
          <select id="colorSelect" class="form-select" [(ngModel)]="selectedColor">
            <option value="blue">🔵 Blu</option>
            <option value="red">🔴 Rosso</option>
            <option value="green">🟢 Verde</option>
            <option value="#DAA520">🟡 Giallo</option>
          </select>
        </div>
        <div class="mb-2">
          <label for="moduleSelect" class="form-label">Scegli il modulo:</label>&nbsp;
          <select id="moduleSelect" class="form-select" (change)="onModuleChange($event)">
            <option value="4-3-3">&nbsp;4-3-3&nbsp; (Offensivo)</option>
            <option value="4-4-2">&nbsp;4-4-2&nbsp; (Equilibrio)</option>
            <option value="5-4-1">&nbsp;5-4-1&nbsp; (Difensivo)</option>
            <option value="3-5-2">&nbsp;3-5-2&nbsp; (Contenimento)</option>
          </select>
        </div>
      </div>
      <div class="button-section mt-4 d-flex justify-content-center">
        <div class="mb-2">
          <button class="btn reset-btn" (click)="resetPositions()">
            <b><i class="bi bi-arrow-return-left"></i>&nbsp;Reset</b>
          </button>
        </div>
        <div class="mb-2">
          <button class="btn restore-btn" (click)="restorePreviousPosition()">
            <b><i class="bi bi-arrow-clockwise"></i>&nbsp;Ultima mossa</b>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="pitch-container mx-auto" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
        <img src="assets/base_lavagna.png" alt="Campo da calcio" class="pitch">
        <div class="player" *ngFor="let player of players"
          [ngStyle]="{'top.%': player.y, 'left.%': player.x, 'background-color': selectedColor}" draggable="true"
          (dragstart)="onDragStart($event, player)">
          <div class="player-circle">{{ player.name }}</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="bench-section mt-4">
        <h4 class="text-center mb-4">Panchina..</h4>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <div class="mb-3">
      <label for="playerName" class="form-label player-label">Al giocatore:</label>
      <input type="text" id="playerName" class="form-control" [(ngModel)]="selectedPlayer.name">
    </div>
    <div class="mb-3">
      <label for="tacticalNotes" class="form-label">Note tattiche:</label>
      <textarea id="tacticalNotes" class="form-control" [(ngModel)]="tacticalNotes"></textarea>
    </div>
    <div class="button-section mt-4 d-flex justify-content-center">
      <div class="mb-2">
        <div class="button-section mt-4 d-flex justify-content-center">
          <div class="mb-2">
            <button class="Btn save-btn" id="saveButton">
              <svg class="svgIcon" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                </path>
              </svg>
              <span class="icon2"></span>
              <span class="tooltip">Save!</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
