footer {
  background: #14213d; 
  color: #fff;
  padding: 2rem 0;

  a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;

    &:hover {
      color: #fca311;
      text-decoration: none;
    }
  }

  .footer-middle {
    padding-top: 2em;
    color: #FFFF;
  }

  .footer-pad h4 {
    color: #fca311;
    margin-bottom: 1rem;
  }

  .footer-pad ul {
    padding: 0;
    list-style-type: none;
  }

  .footer-pad ul li {
    margin-bottom: 0.5rem;
  }

  .social-icons {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;

    li {
      display: inline-block;

      a {
        background: #FFFF;
        border-radius: 50%;
        color: #14213d;
        display: inline-block;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        transition: background-color 0.3s, color 0.3s;
        padding: 0;

        &:hover {
          background: #fca311;
          color: #14213d;
        }

        i {
          font-size: 1.6em;
        }
      }
    }
  }

  .copy {
    font-size: 14.5px;
    padding: 10px;
    font-weight: bold;
    border-top: 1px solid #FFFF;
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    .footer-pad {
      text-align: center;
    }

    .social-icons {
      justify-content: center;
    }
  }
}
