<div class="modal-header">
  <h4 class="modal-title"><b>Scambia giocatore</b></h4>
  <button type="button" class="close btn btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="fieldPlayerSelect">Giocatori in campo</label>
    <select id="fieldPlayerSelect" class="form-control" [(ngModel)]="selectedFieldPlayer">
      <option *ngFor="let player of availableFieldPlayers" [value]="player.id">
        {{ player.nomeCompleto }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="benchPlayerSelect">Giocatori in rosa</label>
    <select id="benchPlayerSelect" class="form-control" [(ngModel)]="selectedBenchPlayer">
      <option *ngFor="let player of availableBenchPlayers" [value]="player.id">
        {{ player.nomeCompleto }}
      </option>
    </select>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-warning" (click)="swapPlayers()">Scambia</button>
</div>
