*{
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.sfondo {
  background: url(assets/img/fari_sfondo.jpg);
  background-position: left center;
  background-size: cover;
}