<div class="main-content pb-0">
  <section class="about-section text-center m-5 p-5">
    <div class="about-content">
      <h2 class="display-4 font-weight-bold">Cosa fa Winning Strategy</h2>
      <p class="lead mt-4">
        Con Winning Strategy, puoi <span class="highlight">esplorare</span> i campionati,
        <span class="highlight">selezionare</span> la tua squadra preferita e <span class="highlight">creare</span>
        schemi tattici avanzati. Oppure, se ti senti già un allenatore che aspetta solo di emergere, sviluppa nuovi progetti
        tattici da zero e salvali.
      </p>
      <p class="lead mt-4">
        Analizza.&nbsp;Realizza.&nbsp;Vinci!
      </p>
      <span id="createFormation"></span>
    </div>
  </section>
  <section class="section-dark text-center d-flex align-items-center pt-5">
    <div class="container text-center p-3 d-flex align-items-center">
      <div class="row w-100">
        <div class="col-md-6 col-12 image-container d-flex align-items-center justify-content-center">
          <img src="../../../../assets/img/lavagna_bianco.png" alt="Lavagna tattica" class="img-fluid rounded animate-img">
        </div>
        <div class="col-md-6 col-12 d-flex flex-column align-items-center justify-content-center mt-2">
          <h2 class="display-4 font-weight-bold">Crea la tua <span class="highlight">Formazione</span></h2>
          <p class="lead display-5 mt-3">
            Scegli tra i tantissimi giocatori delle squadre migliori al mondo,
            posizionali dove vuoi adattandoli al tuo modo di vedere il calcio e conquista la vittoria!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-light text-center d-flex align-items-center">
    <div class="container text-center p-3 d-flex align-items-center">
      <div class="row w-100">
        <div class="col-md-6 col-12 order-md-2 image-container d-flex align-items-center justify-content-center">
          <img src="../../../../assets/img/allenatoreX.png" alt="allenatore" class="img-fluid rounded animate-coach">
        </div>
        <div class="col-md-6 col-12 order-md-1 d-flex flex-column align-items-center justify-content-center">
          <h2 class="display-4 font-weight-bold">Analizza e scegli la <span class="highlight">Squadra</span></h2>
          <p class="lead mt-3">
            Sei tu l'allenatore porca puttena!
            <br>Seleziona la squadra che vuoi nei top campionati 
            <br>conducila al successo con i tuoi schemi tattici 
          </p>
          <a routerLink="/scelta-squadra" class="btn btn-primary mt-4">Scegli la Squadra</a>
        </div>
      </div>
    </div>
  </section>
</div>
