<div class="main-content pb-0">
  <section class="about-section text-center m-5 p-5">
    <div class="about-content">
      <h2 class="display-4 font-weight-bold">Cosa fa Winning Strategy</h2>
      <p class="lead mt-4">
        Con Winning Strategy, ti viene data l'eccezionale opportunità di <span class='highlight'>esplorare</span> in maniera esauriente i campionati
        di calcio di tutto il mondo, permettendoti di <span class='highlight'>selezionare</span> con grande attenzione la tua squadra preferita
        da una lista di club prestigiosi. Una volta fatta la tua scelta, puoi <span class='highlight'>creare</span> dettagliati schemi tattici avanzati, personalizzando ogni aspetto della formazione e della strategia di gioco per adattarli perfettamente alle tue ambizioni e al tuo stile di coaching.
        Questo ti consente di immergerti completamente nell'arte del management calcistico e di mettere alla prova le tue capacità decisionali in scenari di gioco realistici e sfidanti. <br><strong>Analizza.&nbsp;Realizza.&nbsp;Vinci!</strong>
      <span id="createFormation"></span>
    </div>
  </section>
  <section class="section-dark text-center d-flex align-items-center pt-5">
    <div class="container text-center p-3 d-flex align-items-center">
      <div class="row w-100">
        <div class="col-md-6 col-12 image-container d-flex align-items-center justify-content-center">
          <img src="../../../../assets/img/lavagna_bianco.png" alt="Lavagna tattica" class="img-fluid rounded animate-img">
        </div>
        <div class="col-md-6 col-12 d-flex flex-column align-items-center justify-content-center mt-2">
          <h2 class="display-4 font-weight-bold">Crea la tua <span class="highlight">Formazione</span></h2>
          <p class="lead display-5 mt-2">
            Scopri una vasta gamma di giocatori dalle migliori squadre del mondo.
            Posizionali strategicamente secondo il tuo stile di gioco per massimizzare le tue tattiche e conquistare la vittoria.
            Dimostra la tua abilità tattica e porta la tua squadra al successo!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-light text-center d-flex align-items-center">
    <div class="container text-center p-3 d-flex align-items-center">
      <div class="row w-100">
        <div class="col-md-6 col-12 order-md-2 image-container d-flex align-items-center justify-content-center">
          <img src="../../../../assets/img/allenatoreX.png" alt="allenatore" class="img-fluid rounded animate-coach">
        </div>
        <div class="col-md-6 col-12 order-md-1 d-flex flex-column align-items-center justify-content-center">
          <h2 class="display-4 font-weight-bold">Analizza e scegli la <span class="highlight">Squadra</span></h2>
          <p class="lead mt-2">
            Porca puttena! Dai un'occhiata ai calciatori delle migliori leghe del mondo.
            Posizionali a tuo piacimento e scatena la tua genialità tattica.
            Guida la tua squadra alla vittoria dimostrando che il calcio, più che un gioco, è un'arte.
            Sei pronto per questo bellissimo caos calcistico?
          </p>
          <a routerLink="/scelta-squadra" class="btn btn-primary mt-3">Scegli la Squadra</a>
        </div>
      </div>
    </div>
  </section>
</div>
