.main-content {
  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    // padding: 5rem;
    border-radius: 10px;

    .about-content {
      max-width: 1200px;
      width: 100%;
    }

    h2 {
      font-weight: 700;
      font-size: 2rem;
      margin-bottom: 1.5rem;
      color: #14213D;

      .highlight {
        color: #FCA311;
        font-weight: bold;
      }
    }

    p {
      font-size: 1.25rem;
      line-height: 1.6;
      margin: 0 auto;
      text-align: center;
      color: #14213D;

      .highlight {
        color: #FCA311;
        font-weight: bold;
      }
    }

    @media (max-width: 768px) {
      h2 {
        font-size: 1.75rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.5;
      }
    }

    @media (max-width: 576px) {
      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.875rem;
        line-height: 1.4;
      }
    }
  }

  .section-dark,
  .section-light {
    padding: 2rem 1rem;
    text-align: center;

    .container {
      display: flex;
      align-items: center;
    }

    .row {
      width: 100%;
    }

    .image-container {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        border-radius: 15px;
        max-width: 100%; 
        height: auto; 
        max-height: 300px; 
      }
    }

    h2 {
      font-weight: 700;
      font-size: 2rem;

      .highlight {
        color: #FCA311;
        font-weight: bold;
      }
    }

    p {
      font-size: 1.25rem;
      line-height: 1.6;
      max-width: 800px;
      margin: 0 auto;

      .highlight {
        color: #FCA311;
        font-weight: bold;
      }
    }

    @media (max-width: 768px) {
      h2 {
        font-size: 1.75rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.5;
      }
    }

    @media (max-width: 576px) {
      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.875rem;
        line-height: 1.4;
      }
    }
  }

  .section-dark {
    background-color: #14213D;
    color: #E5E5E5;
  }

  .section-light {
    background-color: #E5E5E5;
    color: #14213D;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }

  .animate-img {
    transform: rotate(-10deg);
    transition: transform 0.5s ease-in-out;

    &:hover {
      transform: rotate(0deg) scale(1.05);
    }
  }

  .animate-coach {
    transform: scale(0.9); 
    transition: transform 0.5s ease-in-out;

    &:hover {
      transform: scale(1.0);
    }
  }

  .btn-primary {
    background-color: #FCA311;
    border: none;
    border-radius: 15px;
    color: #000;
    border: 2px solid #000;
    font-size: 1.2rem; 
    font-weight: bold;
    padding: 0.75rem 1.5rem; 
    transition: background-color 0.3s, border-color 0.3s;
    text-decoration: none;
    margin-top: 1.5rem; 

    &:hover {
      background-color: darken(#FCA311, 10%);
      border-color: darken(#FFF, 10%);
    }

    @media (max-width: 576px) {
      font-size: 1rem; 
      padding: 0.5rem 1rem; 
    }
  }
}
