body {
  background-color: #e5e5e5;
}

.pitch-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}

.pitch {
  width: 100%;
  border-radius: 15px;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.player {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.player-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: medium;
  font-family: "Monoton", sans-serif;
}

.form-select {
  width: auto;
  display: inline-block;
}

button.btn {
  display: inline-block;
  margin-left: 20px;
  background-color: #e09e05;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 0.875rem;
}

.bookmarkBtn {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1.04em;
}

#playerName {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bookmarkBtn:hover .IconContainer {
  width: 90px;
  transition-duration: 0.3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}

select,
textarea,
input {
  background-color: #e5e5e5e0;
}

.bench-player {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}

.Btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #fca311;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.Btn:hover {
  background-color: #e09e05;
  transition-duration: 0.3s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.svgIcon {
  fill: #14213d;
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid #14213d;
  border-left: 2px solid #14213d;
  border-right: 2px solid #14213d;
}

.tooltip {
  position: absolute;
  right: -105px;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  transform: rotate(45deg);
  left: -5%;
  transition-duration: 0.3s;
}

.action_has {
  --color: 0 0% 60%;
  --color-has: 211deg 100% 48%;
  --sz: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--sz) * 2.5);
  width: calc(var(--sz) * 2.5);
  padding: 0.4rem 0.5rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid hsl(var(--color));
  background-color: #e09e05;
}

.has_saved:hover {
  border-color: hsl(var(--color-has));
}
.has_liked:hover svg,
.has_saved:hover svg {
  color: hsl(var(--color-has));
}

.has_liked svg,
.has_saved svg {
  overflow: visible;
  height: calc(var(--sz) * 1.75);
  width: calc(var(--sz) * 1.75);
  --ease: cubic-bezier(0.5, 0, 0.25, 1);
  --zoom-from: 1.75;
  --zoom-via: 0.75;
  --zoom-to: 1;
  --duration: 1s;
}

.has_saved:hover path[data-path="box"] {
  transition: all 0.3s var(--ease);
  animation: has-saved var(--duration) var(--ease) forwards;
  fill: hsl(var(--color-has) / 0.35);
}
.has_saved:hover path[data-path="line-top"] {
  animation: has-saved-line-top var(--duration) var(--ease) forwards;
}
.has_saved:hover path[data-path="line-bottom"] {
  animation:
    has-saved-line-bottom var(--duration) var(--ease) forwards,
    has-saved-line-bottom-2 calc(var(--duration) * 1) var(--ease) calc(var(--duration) * 0.75);
}

@keyframes has-saved-line-top {
  33.333% {
    transform: rotate(0deg) translate(1px, 2px) scale(var(--zoom-from));
    d: path("M 3 5 L 3 8 L 3 8");
  }
  66.666% {
    transform: rotate(20deg) translate(2px, -2px) scale(var(--zoom-via));
  }
  99.999% {
    transform: rotate(0deg) translate(0px, 0px) scale(var(--zoom-to));
  }
}
@keyframes has-saved-line-bottom {
  33.333% {
    transform: rotate(0deg) translate(1px, 2px) scale(var(--zoom-from));
    d: path("M 17 20 L 17 13 L 7 13 L 7 20");
  }
  66.666% {
    transform: rotate(20deg) translate(2px, -2px) scale(var(--zoom-via));
  }
  99.999% {
    transform: rotate(0deg) translate(0px, 0px) scale(var(--zoom-to));
    d: path("M 17 21 L 17 21 L 7 21 L 7 21");
  }
}
@keyframes has-saved-line-bottom-2 {
  from {
    d: path("M 17 21 L 17 21 L 7 21 L 7 21");
  }
  to {
    transform: rotate(0deg) translate(0px, 0px) scale(var(--zoom-to));
    d: path("M 17 20 L 17 13 L 7 13 L 7 20");
    fill: white;
  }
}
@keyframes has-saved {
  33.333% {
    transform: rotate(0deg) translate(1px, 2px) scale(var(--zoom-from));
  }
  66.666% {
    transform: rotate(20deg) translate(2px, -2px) scale(var(--zoom-via));
  }
  99.999% {
    transform: rotate(0deg) translate(0px, 0px) scale(var(--zoom-to));
  }
}

/* Media Queries */
@media (max-width: 820px) {
  .config-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .config-section > div {
    width: 100%;
    margin-bottom: 10px;
  }

  .button-section {
    flex-direction: column;
    align-items: start;
  }

  .button-section .btn {
    width: auto;
    margin-bottom: 10px;
  }

  .form-select,
  .btn {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .pitch-container {
    max-width: 400px;
  }

  .player-circle {
    width: 35px;
    height: 35px;
    font-size: 0.7em;
  }

  .form-select,
  .btn {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .container-fluid .row {
    flex-direction: column;
    align-items: center;
  }

  .pitch-container {
    margin-bottom: 1rem;
  }

  .button-section {
    margin-bottom: 1rem;
  }
}

@media (max-width: 576px) {
  .container-fluid .row {
    flex-direction: column;
    align-items: center;
  }

  .pitch-container {
    margin-bottom: 1rem;
  }

  .button-section {
    margin-bottom: 1rem;
  }
}

@media (max-width: 820px) {
  .container-fluid .row {
    flex-direction: column;
    align-items: center;
  }

  .pitch-container {
    margin-bottom: 1rem;
  }

  .button-section {
    margin-bottom: 0.5rem;
  }
}

.bench-section {
  margin-top: 4rem;

  .bench-group {
    margin-bottom: 2rem;

    h5 {
      font-weight: bold;
      color: #000;
      margin-bottom: 1rem;
    }

    .bench-player {
      background-color: #f0f0f0;
      border-bottom: 1px solid #ccc;
      padding: 0.5rem;
      margin: 0.5rem 0;
    }
  }
}