<div class="container-fluid my-5">
  <div class="row justify-content-center align-items-center">
    <!-- Sezione Configurazione -->
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="config-section d-flex flex-column align-items-start mt-4 mb-3 mx-2">
        <!-- Sezione Colore -->
        <div class="mb-2">
          <label for="colorSelect" class="form-label">Scegli il colore:</label>&nbsp;&nbsp;&nbsp;
          <select id="colorSelect" class="form-select" [(ngModel)]="selectedColor" (ngModelChange)="updatePlayerColors()">
            <option value="blue">🔵 Blu</option>
            <option value="red">🔴 Rosso</option>
            <option value="green">🟢 Verde</option>
            <option value="#DAA520">🟡 Giallo</option>
          </select>
        </div>
        <!-- Sezione Modulo -->
        <div class="mb-2">
          <label for="moduleSelect" class="form-label">Scegli un modulo di <base href="">:</label>
          <select id="moduleSelect" class="form-select" [(ngModel)]="defaultModule" (change)="onModuleChange($event)">
            <option value="" selected>Seleziona un modulo</option>
            <option value="4-3-3">4-3-3 (Offensivo)</option>
            <option value="4-4-2">4-4-2 (Equilibrio)</option>
            <option value="5-4-1">5-4-1 (Difensivo)</option>
            <option value="3-5-2">3-5-2 (Contenimento)</option>
          </select>
        </div>
        <!-- Sezione Pulsanti Reset e Ultima Mossa -->
        <div class="button-section mt-4 d-flex flex-row justify-content-start ps-0 ms-0">
          <button class="btn reset-btn mb-2" (click)="resetPositions()">
            <b><i class="bi bi-arrow-repeat"></i>&nbsp;Reset</b>
          </button>
          <button class="btn restore-btn mb-2" (click)="restorePreviousPosition()">
            <b><i class="bi bi-arrow-clockwise"></i>&nbsp;Ultima mossa</b>
          </button>
        </div>
        <!-- Sezione Nome Giocatore -->
        <div class="mb-2 w-100">
          <label for="playerName" class="form-label player-label">Nome Giocatore:</label>
          <input type="text" id="playerName" class="form-control w-100" [(ngModel)]="selectedPlayer.name">
        </div>
        <!-- Sezione Note Tattiche -->
        <div class="mb-2 w-100">
          <label for="tacticalNotes" class="form-label">Note Tattiche:</label>
          <textarea id="tacticalNotes" class="form-control w-100" [(ngModel)]="tacticalNotes"></textarea>
        </div>
      </div>
      <!-- Pulsante Save in basso a sinistra -->
      <div class="button-section float-end px-3">
        <button class="action_has has_saved" aria-label="save" type="button" (click)="save()">
          <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor" fill="none">
            <path d="m19,21H5c-1.1,0-2-.9-2-2V5c0-1.1.9-2,2-2h11l5,5v11c0,1.1-.9,2-2,2Z" stroke-linejoin="round" stroke-linecap="round" data-path="box"></path>
            <path d="M7 3L7 8L15 8" stroke-linejoin="round" stroke-linecap="round" data-path="line-top"></path>
            <path d="M17 20L17 13L7 13L7 20" stroke-linejoin="round" stroke-linecap="round" data-path="line-bottom"></path>
          </svg>
        </button>
      </div>
    </div>
    
    <!-- Sezione Campo da Calcio -->
    <div class="mt-2 col-lg-6 col-md-12 col-sm-12">
      <div class="pitch-container mx-auto" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
        <img src="../../../assets/img/base_lavagna.png" alt="Campo da calcio" class="pitch">
        <!-- Aggiunto evento dblclick per rimuovere un giocatore -->
        <div class="player" *ngFor="let player of players; let i = index" [ngStyle]="{'top.%': player.y, 'left.%': player.x, 'background-color': player.color}" draggable="true" (dragstart)="onDragStart($event, player)" (dblclick)="removePlayer(player)">
          <div class="player-circle">{{ player.nomeCompleto || player.ruolo }}</div>
        </div>
        <button class="back-button my-2 float-end" (click)="navigateToTeamSelection()"><i class="bi bi-arrow-return-left"></i>&nbsp;Torna alla scelta della squadra</button>
      </div>
    </div>
    <!-- Sezione Panchina -->
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="bench-section mt-4">
        <div class="container text-center">
          <div class="row">
            <h4 class="text-center mb-4 border-bottom border-2">Rosa della Squadra</h4>
            <div class="container">
              <div class="mb-3">
                <label for="panchinaSelectGoalkeeper" class="form-label">Scegli un <b>portiere</b> dalla rosa:</label><br>
                <select id="panchinaSelectGoalkeeper" class="form-select" [(ngModel)]="selectedGoalkeeper" (change)="onPanchinaPlayerChange($event, 'Portiere'); portiere.selectedIndex=0" #portiere>
                  <option value="">Seleziona un portiere</option>
                  <option *ngFor="let panchinaro of goalkeepers" [value]="panchinaro.id">
                    {{ panchinaro.nomeCompleto }} #&nbsp;{{ panchinaro.numeroMaglia}}
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label for="panchinaSelectDefender" class="form-label">Scegli un <b>difensore</b> dalla rosa:</label><br>
                <select id="panchinaSelectDefender" class="form-select" [(ngModel)]="selectedDefender" (change)="onPanchinaPlayerChange($event, 'Difensore'); difensore.selectedIndex=0" #difensore>
                  <option value="">Seleziona un difensore</option>
                  <option *ngFor="let panchinaro of defenders" [value]="panchinaro.id">
                    {{ panchinaro.nomeCompleto }} #&nbsp;{{ panchinaro.numeroMaglia}}
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label for="panchinaSelectMidfielder" class="form-label">Scegli un <b>centrocampista</b> dalla rosa:</label><br>
                <select id="panchinaSelectMidfielder" class="form-select" [(ngModel)]="selectedMidfielder" (change)="onPanchinaPlayerChange($event, 'Centrocampista'); centrocampista.selectedIndex=0" #centrocampista>
                  <option value="">Seleziona un centrocampista</option>
                  <option *ngFor="let panchinaro of midfielders" [value]="panchinaro.id">
                    {{ panchinaro.nomeCompleto }} #&nbsp;{{ panchinaro.numeroMaglia}}
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label for="panchinaSelectForward" class="form-label">Scegli un <b>attaccante</b> dalla rosa:</label><br>
                <select id="panchinaSelectForward" class="form-select" [(ngModel)]="selectedForward" (change)="onPanchinaPlayerChange($event, 'Attaccante'); attaccante.selectedIndex=0" #attaccante>
                  <option value="">Seleziona un attaccante</option>
                  <option *ngFor="let panchinaro of forwards" [value]="panchinaro.id">
                    {{ panchinaro.nomeCompleto }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
