<div class="container-fluid text-center my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 col-12">
      <div class="pitch-container mx-auto" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
        <img src="assets/base_lavagna.png" alt="Campo da calcio" class="pitch">
        <div class="player" *ngFor="let player of players" [ngStyle]="{'top.px': player.y, 'left.px': player.x, 'background-color': selectedColor}"
             draggable="true" (dragstart)="onDragStart($event, player)">
          <div class="player-circle">{{ player.name }}</div>
        </div>
      </div>
      <div class="d-flex flex-wrap justify-content-between align-items-center mt-4 mx-auto">
        <div class="mb-2">
          <label for="colorSelect" class="form-label">Scegli il colore:</label>&nbsp;
          <select id="colorSelect" class="form-select" [(ngModel)]="selectedColor">
            <option value="blue">🔵 Blu</option>
            <option value="red">🔴 Rosso</option>
            <option value="green">🟢 Verde</option>
            <option value="#DAA520">🟡 Giallo</option>
          </select>
        </div>
        <div class="mb-2">
          <label for="moduleSelect" class="form-label">Scegli il modulo:</label>&nbsp;
          <select id="moduleSelect" class="form-select" (change)="onModuleChange($event)">
            <option value="4-3-3">4-3-3&nbsp; (Offensivo)</option>
            <option value="4-4-2">4-4-2&nbsp; (Contenimento)</option>
            <option value="5-4-1">5-4-1&nbsp; (Difensivo)</option>
          </select>
        </div>
        <div class="mb-2">
          <button class="btn btn-danger" (click)="save()"><i class="bi bi-save"></i>&nbsp; Salva</button>
        </div>
      </div>
      <div class="mt-4">
        <div class="mb-3">
          <label for="playerName" class="form-label">Nome del giocatore:</label>
          <input type="text" id="playerName" class="form-control" [(ngModel)]="selectedPlayer.name">
        </div>
        <div class="mb-3">
          <label for="tacticalNotes" class="form-label">Note tattiche:</label>
          <textarea id="tacticalNotes" class="form-control" [(ngModel)]="tacticalNotes"></textarea>
        </div>
        <div>
          <button class="btn btn-warning" (click)="resetPositions()"><i class="bi bi-arrow-counterclockwise"></i>&nbsp; Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
