<div class="jumbotron">
  <video autoplay muted loop playsinline preload="auto" class="jumbotron-video">
    <source src="../../../../assets/video_tattica - Trim - Trim.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="jumbotron-content ms-5">
    <h1 class="display-1">Trova la tua strategia</h1>
    <p class="lead">Benvenuto nella Winning Strategy Web App. <br>Ottimizza le tue tattiche di gioco con dati in tempo reale e analisi dettagliate.</p>
    <button class="explore-btn">Esplora</button>
  </div>
</div>
