body {
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  background-color: #e5e5e5 !important;
  background-image: url(../../../../assets/img/sfondo_tattica.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .col-12 {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}

.container .col-12 h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #e5a641;
  text-shadow: 2px 2px 2px rgb(0, 0, 0); 
}



.container .col-12 form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .col-12 form .form-group {
  margin: 0 10px;
  flex: 1 1 calc(50% - 20px); 
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}

.container .col-12 form .form-group label {
  color: #e5a641;
  margin-bottom: 5px;
  width: 100%;
  max-width: 120px; 
  margin-top: 15px;
  text-align: center; 
}

.container .col-12 form .form-control {
  border: 2.5px solid #14213d;
  width: 100%; 
  max-width: 200px; 
}

.container .col-12 form .btn-primary {
  background-color: #fca311;
  border-color: #000000;
  color: #fff;
  width: 100%; 
  max-width: 200px; 
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 15px;
}

.container .col-12 form .btn-primary:disabled {
  background-color: #e5a641;
  color: #000000;
  border: 2px solid #000;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 15px;
  transition: background-color 0.3s, border-color 0.3s;
  text-decoration: none;
  margin-top: 1.5rem;
  width: 100%; 
  max-width: 200px; 
}

@media (max-width: 932px) {
  .container .col-12 form .form-group label {
    width: auto; 
    max-width: 100%; 
    text-align: center; 
  }
}
