body {
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  background-color: #E5E5E5 !important;
  background-image: url(../../../../assets/img/sfondo_tattica.png);
  background-blend-mode: overlay;
  background-size: cover; /* Questa proprietà farà sì che l'immagine copra l'intero container */
  background-position: center; /* Centra l'immagine */
  background-repeat: no-repeat; /* Evita che l'immagine si ripeta */
  min-height: 100vh; /* Assicura che il container copra l'intera altezza della viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame-large {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8); /* Aggiungi uno sfondo bianco semi-trasparente al frame */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra leggera */
}


.container-overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.container-form {
  background-color: #e5e5e5;
  border-radius: 15px;
  padding: 40px; /* Aumentato il padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Aumentato la larghezza massima */
  width: 100%;
  z-index: 2;
}

.form-group label {
  color: #14213D;
}

.form-control {
  border: 2.5px solid #14213D;
}

.btn-primary {
  background-color: #FCA311;
  border-color: #FCA311;
  color: #FFFFFF;
}

.btn-primary:disabled {
  background-color: #e5a641;
  color: #000000;
  border: 2px solid #000;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 15px;
  padding: 0.5rem 1.2rem;
  transition: background-color 0.3s, border-color 0.3s;
  text-decoration: none;
  margin-top: 1.5rem;
}

@media (max-width: 768px) {
  .container-form {
    padding: 20px; /* Aumentato il padding */
  }

  h2 {
    font-size: 1.5rem;
  }

  .btn {
    width: 100%;
  }

  .form-group {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .container-form {
    padding: 10px; /* Aumentato il padding */
  }

  h2 {
    font-size: 1.25rem;
  }

  .btn {
    width: 100%;
  }

  .form-group {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.frame {
  background-color: #FFFFFF;
  border: 1px solid #14213D;
  height: 180px;
}


