<div class="container frame py-5 d-flex justify-content-center align-items-center min-vh-100 min-vw-100 border">
  <div class="row w-100 justify-content-center">
    <div class="col-12">
      <h2 class="display-4 font-weight-bold text-center">Scegli la tua Squadra</h2>
      <form (ngSubmit)="onSubmit()" class="d-flex flex-wrap justify-content-center">
        <div class="form-group me-3">
          <label for="campionato">Campionato</label>
          <select id="campionato" class="form-control" [(ngModel)]="campionatoScelto" (change)="onCampionatoChange()" name="campionato">
            <option *ngFor="let campionato of campionati" [ngValue]="campionato">{{ campionato.nome }}</option>
          </select>
        </div>
        <div class="form-group mx-3">
          <label for="squadra">Squadra</label>
          <select id="squadra" class="form-control" [(ngModel)]="squadraScelta" name="squadra" (change)="onSquadraChange()" [disabled]="!campionatoScelto">
            <option *ngFor="let squadra of squadre" [ngValue]="squadra">{{ squadra.nome }}</option>
          </select>
        </div>
        <div class="w-100 text-center">
          <button type="submit" class="btn btn-primary mt-4" [disabled]="squadraScelta==null">Conferma</button>
        </div>
      </form>
    </div>
  </div>
</div>